*
{
    margin: 0;
}
body
{
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.826);
}
.cel-1
{
    padding-top: 30px;
    width: 95%;
    height: 30px;
    margin: auto;
    display: flex;
}
.scd{
    font-size: 18px;
    margin-top: 5px;
    font-weight: 900px;
    margin-right: 50px;
   
}
.first
{
    font-size: 28px;
    font-weight: bold;
    margin-right: 450px;
    margin-left: 30px;
}
.btn1
{
    font-size: 17px;
    width: 270px;
    height: 33px;
    font-weight: 700px;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 15px;
    margin-left: 130px;
}
.cel-2
{
    width: 95%;
    height: 600px;
    margin: auto;
    display: flex;
    margin-top: 80px;
    margin-left: 60px;
}
.left
{
    width: 40%;
    height: 500px;
    text-align: center;
}
.left h1{
    padding-top: 200px;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 15px;
    text-align: left;
}
.left p
{
    font-size: 17px;
    line-height: 30px;
    color: gray;
    text-align: left;
}
.btn2
{
    width: 180px;
    font-size: 18px;
    color: white;
    background-color: black;
    margin-top: 20px;
    margin-left: -300px;
    padding: 6px;
    border-radius: 10px;
}
.right
{
    width: 60%;
    position: relative;
}
.img1{
    width: 200px;
    height: 490px;
}
.img2
{
    width: 200px;
    height: 490px;
    position: relative;
    top: 85px;
}
.img3
{
 width: 200px;
 height: 490px;
}

.cel-3
{
    width: 95%;
    height: 600px;
    margin: auto;
    display: flex;
    margin-top: 80px;
    margin-left: 60px;
}
.rt{
    width: 55%;
    height: 600px;
    margin: auto;
    text-align: left;
    margin-left: 120px;
}
.rt h1{
    margin-top:100px;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    padding-bottom: 20px;
}
.rt p{
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    color: gray;
    margin-bottom: 10px;
}
.btn3
{
    width: 180px;
    font-size: 18px;
    color: white;
    background-color: black;
    margin-top: 20px; 
    padding: 6px;
}
.cel-4
{
    width: 95%;
    height: 400px;
    margin: auto;
    display: flex;
    margin-top: 40px;
    margin-left: 60px;
}
.lft{
   width: 50%;
   height: 400px; 
}
.lft h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 130px;
    margin-bottom: 15px;
}
.lft p{
    font-size: 18px;
    line-height: 30px;
}
.rht
{
    margin-left: 100px;
    width: 50px;
    height: 400px;
}
.rasm{
    width: 400px;
    height: 400px;
}

.cel-5
{
    width: 95%;
    height: 400px;
    margin: auto;
    display: flex;
    margin-left: 60px;
}
.bx3{
   width: 100%;
   height: 400px; 
}
.bx3 h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 130px;
    margin-bottom: 15px;
    margin-left: 500px;
}
.bx3 p{
    margin-left: 500px;
    font-size: 18px;
    line-height: 30px;
}
.bx1
{
    width: 50px;
    height: 400px;
}
.bx2{
    width: 400px;
    height: 400px;
}
.cel-6
{
    width: 95%;
    height: 200px;
    margin: auto;
    margin-top: 80px;
    text-align:center;
}
.cel-6 h1{
    font-size: 33px;
    font-weight: bold;
}
.cel-6 p{
    font-size: 20px;
    line-height: 35px;
    color: gray;
    margin-top: 10px;
}
.btn4
{
    margin-top: 30px;
    width: 200px;
    height: 35px;
    font-size: 20px;
    color: white;
    background-color: black;
}
.cel-7
{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around
}
.card1
{
    width:350px;
    height: 500px;
}
.crd{
    width: 350px;
    height: 400px;
}
.card2
{
    width:350px;
    height: 500px;
}
.card3
{
    width:350px;
    height: 500px;
}
.cel-7 h1{
    font-size: 30px;
    font-weight: 800px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.cel-7 p{
    font-size: 20px;
    font-weight: 700px;
    line-height: 30px;
    margin-bottom: 25px;
}
